
/* -----------------------header---------------------- */

.header{
    position: fixed;
    width: 99vw;
    background: green;
    height: 8rem;
}

/* ---------------------image and service text------------------ */
.service-text{
    color: white;
    font-size: 2.3rem;
    background: url(services1.jpg);
    height: 90rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 9rem;
    font-family: 'Kanit', sans-serif;
}

/*-------------- different section of asking others to upload their notes----------------------- */


/* ----------------------main div------------------------- */
.ask_for_notes{
    display: flex;
    height: 50rem;
    font-family: 'Kanit', sans-serif;
    
}


/* ----------------------image--------------------- */
.picture{
    width: 50vw;
    padding: 1.5rem;
    border-radius: 2rem;
    box-sizing: border-box;
}

/* ------------------------text after image---------------------- */
.link{
    padding: 1.5rem;
    font-size: 2.4rem;
    font-family: 'Kanit', sans-serif;
    text-align: justify;
    align-self: center;

}


/* --------------------contact button------------------------- */
.button{
    background: rgb(63, 168, 63);
    color: blue;
    font-size: 3rem;
    width: fit-content;
    border-radius: 1rem;
    padding: 0 2rem;
    margin: 4rem auto;
}
.footer-menu-without-bottom-padding{
    padding: 0;
}


/* ----------------------media query for small screen--------------------- */


@media screen and (max-width:767px) {
    .header{
        width: 100vw;
    }

    /* ---------------------image and service text----------------------------- */
    .service-text{
        height: 75vh;
        background: url(services1.jpg);
        background-position: center;
    }

    /* -----------------asking others to upload their notes-------------- */
    .ask_for_notes{
        flex-direction: column;
        height: fit-content;
    }

    /* --------------------image of second section ------------------------- */
    .picture{
        width: 100vw;
    }
   
}
